
label
{
    color: antiquewhite;
}

li
{
    padding: 1%;
    list-style-type: none;
}

#form-section
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

ul
{
    text-align: center;
}


