#error-section
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
}

#error-section a
{
    font-size: 1.5rem;
}

#error-section img
{
    height: 60vh;
}

