.expositor-imagenes
{
    margin: 0 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenes-index
{
    width: 30%;
    margin: 1%;

    border-style: outset;
    border-width: 4px;
    border-color: silver;

    overflow: hidden;
    position: relative;
}

.imagenes-index img
{
    width: 100%;
    height: 80%;
    display: block;
    transition: opacity .6s ease;
}

.imagen
{
    opacity: 1;
}

.gif
{
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}

.imagenes-index:hover .estatica
{
    opacity: 0;
}

.imagenes-index:hover .gif
{
    opacity: 1;
}

.imagenes-index:hover
{
    cursor: url('../img/gauntlet.png'), pointer;
}


.imagenes-index figcaption
{
    padding: 1%;

    text-align: center;
    font-size: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: antiquewhite;
    
}


#sinopsis
{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

#sinopsis article
{
    padding: 2%;
    width: 40vw;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(254, 254, 254);
    border-width: 8px;
    border-style: solid;
    border-radius: 3%;
    border-color: cornsilk;

    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(1, 1, 1);
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


#sinopsis h2 
{
    margin-bottom: 2%;
}

#sinopsis p 
{
    padding: 2%;
    line-height: 1.5;
}

#soundtrack
{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    border-style: inset;
    border-radius: 15px;
}

#soundtrack iframe 
{
    width: 100%;
    height: 352px;
    border-radius: 15px;
    border: none;
}
