
.cast-member
{
    margin-bottom: 2%;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 2%;
    display: flex;
    justify-content: space-evenly;
}

.cast-member img
{
    width: 35vw;
    height: 40vw;
    padding: 2%;
}

.cast-member-info 
{
    width: 45vw;
    padding-top: 1%;
    color: antiquewhite; 
}

.cast-member-info p

{
    margin-bottom: 5%;
    font-size: 1.2rem;
    text-align: left;
}

.cast-member-info h2

{
    text-align: left;
    margin-bottom: 3%;
    font-size: 2rem;
    color: goldenrod;
}


#reparto
{
    margin-bottom: 7%;
}

#reparto ul
{
    font-size: 1.5rem;
}
